<div class="box" style="height:500px; max-width:960px;margin:auto;align-items:center;overflow:auto;">
    <!-- <span class="title has-text-weight-bold" style="margin-botton:20px !important;">Dashboard</span> -->
    {{#each posts as |post|}}
    <div class="card" style="margin-bottom: 5px;">
        <header class="card-header">
            
              <div class="column has-text-left has-text-weight-bold">{{post.title}}</div>
              <div class="column has-text-right is-italic">Posted By {{post.user.username}} On {{format_date post.updatedAt}}</div>
    
        </header>
        <div class="card-content" style="margin-bottom: 2px;">
            <div class="content">
              {{post.content}}
              
            </div>
        </div>
        <footer class="card-footer"></footer>
      </div>
    {{/each}}
</div>
<script src="/js/dashboard-highlight.js"></script>
