          <div class="box" style="height:500px; max-width:960px;margin:auto; align-items:center;">
            <table class="table" style="display:block;overflow:auto;height:450px;">
              <thead>
                <tr>
                  <th>Post</th>
                  <th>Username</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody id="postsTableBody"> 
                 
              </tbody>
          </table>
            
          </div>
      </div>


