<div class="box" style="height:500px; max-width:960px;margin:auto;align-items:center;overflow:auto;">
  <div class="block">
    Welcome InfoReady Blog!
  </div>
  <div class="block">
    Our team is very glad you stopped by.  We appreciate you for spending time here, and sharing your software development knowledge with your peers.  The purpose of this site is to help developers grow and learn from each other.
  </div>
  <div class="block">
    Additionally, we appreciate any feedback that you are willing to share to improve this application.  A link to our Github account is in the navbar near the top of the page.  Please go there and share your thoughts in the comments section.
  </div>
  <div class="block">
    Happy Blogging!
  </div>
</div>
<script src="/js/home-highlight.js"></script>
