<div class="box" style="height:250px; max-width:350px;margin-left:auto;margin-right:auto;">
  <h2>Login</h2>


<form class="form login-form">
  <div class="field has-text-left">
    <label class="label is-small">Username</label>
    <div class="control">
      <input class="input is-small" type="text" name="username" id="username-login">
    </div>
  </div>

  <div class="field has-text-left">
    <label class="label is-small">Password</label>
    <div class="control">
      <input class="input is-small" type="password" name="password" id="password-login" >
    </div>
  </div>

  <button class="button is-block is-small is-fullwidth is-black has-text-white" type="submit">Login In</button>
</form>
</div>
<script src="/js/login-highlight.js"></script>
<script src="/js/login.js"></script>
