<div class="box">
  <form method="POST" action="/login">

    <div class="field has-text-left">
        <label class="label is-small">Username</label>
        <div class="control">
            <input class="input is-small" type="text" name="username" autofocus="">
        </div>
    </div>

    <div class="field has-text-left">
        <label class="label is-small">Password</label>
        <div class="control">
            <input class="input is-small" type="password" name="password">
        </div>
    </div>

    <button class="button is-block is-small is-fullwidth" style="background-color: #1f3e61; border: none;color: white;">Sign In</button>
  
  </form>
</div>


