<div class="box" style="height:250px; max-width:350px;margin-left:auto;margin-right:auto;">
  <h2>Sign Up</h2>


<form class="form signup-form">
  <div class="field has-text-left">
    <label class="label is-small">Username</label>
    <div class="control">
      <input class="input is-small" type="text" name="username" id="username-signup">
    </div>
  </div>

  <div class="field has-text-left">
    <label class="label is-small">Password</label>
    <div class="control">
      <input class="input is-small" type="password" name="password" id="password-signup" >
    </div>
  </div>

  <button class="button is-block is-small is-fullwidth" style="background-color: #1f3e61; border: none;color: white;" type="submit">Sign Up</button>
</form>
</div>
<script src="/js/signup.js"></script>
